[user]
	email = jj@gioorgi.com
	name = Giovanni Giorgi (CS)

[alias]
        l = log --decorate --stat=150 --graph
        jjmerge = merge -s recursive -Xignore-space-at-eol --no-ff  --no-commit
        # Super graph
        g = log --all --decorate --oneline --graph
        co = checkout

[pull]
        rebase = false

[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[http]
        sslverify = true